/* بسم الله الرحمن الرحيم */

img {
    max-width: 100%;
    height: auto;
}

.fa-star,
.fa-star-half {
    color: goldenrod;
    padding: 3% 0;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
}

#cart-count {
    /* color: aquamarine; */
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.shopping-cart {
    padding: 3% 0;
}


.cart-items + .cart-items {
    padding: 2% 0;
}

.price-details h6{
    padding: 3% 2%;
}

.logout {
    color: #ffb9bd;
}

#nav {
    position: sticky; 
    top: 0;
    z-index: 100;
}

#view {
    color: #85eeff;
}

#shopping {
    color: #f3e1c9;
}

#admin {
    color: #fff2dfad;
}

#addtext {
    color: #b1f8cc;
}

#addicon {
    color: #16e445;
}

#user_name {
    font-family:'Courier New', Courier, monospace; 
    color: #daa520;
}

#cart {
    color: #c1fffc;
}

#pay {
    color: #d43737;
}

#payment {
    color: #3d19b3;
}

/* الحمد لله */